{% extends 'base_events.html.twig' %}

{% block title %}Search Events{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card w-50 m-md-auto">
        <div class="card-header">
            <h1>Search events</h1>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.eventType) }}
            <button type="submit" class="btn btn-primary">Search</button>
            {{ form_end(form) }}

            {% if events is defined%}
                <h2>Results</h2>
                <ul>
                {% if events is not empty %}
                    {% for event in events %}
                        <li><a href="{{ path('app_event_show' , {'id' : event.id}) }}">{{ event.name }}</a></li>
                    {% endfor %}
                {% else %}
                    <p>No event found in this Category!</p>
                    </ul>

                {% endif %}
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}
