<!-- Navigation-->
<a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="#page-top">Big Events</a></li>
        <li class="sidebar-nav-item"><a href="{{ path('app_home') }}#page-top">Home</a></li>
        <li class="sidebar-nav-item"><a href="{{ path('app_home') }}#about">About</a></li>
        <li class="sidebar-nav-item"><a href="{{ path('app_home') }}#portfolio">Events</a></li>
        <li class="sidebar-nav-item"><a href="{{ path('app_event_new') }}">New Event</a></li>
        <li class="sidebar-nav-item"><a href="{{ path('app_event_search') }}">Search Event</a></li>
    </ul>
</nav>